{% extends "base.html" %} {% block content %}

<h2 style="text-align: center;">Indian Food Classification</h2>

<div class="container-fluid">
    <div class="row">
    <form id="upload-file" class="row" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Choose...
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>
</div>
    <div class="row">
    <div class="col align-middle ">

        <div class="image-section row" style="display:none;">
            <div class="img-preview row">
                <div id="imagePreview">
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary btn-lg mx-4 " id="btn-predict">Predict!</button>
            </div>
        </div>

        <div class="loader row" style="display:none;"></div>
    </div>

    <div class="col align-middle">
        <h3 id="result " class="row">
            <span> </span>
        </h3>

        <div id="card" class="card row" style="width: fit-content; " hidden>
            <div class="card-body">
                <h5 class="calorie">Calories:<span id="calories">0</span></h5>
                <label id="button1" for="">Item 1</label>
                <button type="button" id="button1Add" class="btn btn-primary">Add</button>
                <button type="button" id="button1Rm" class="btn btn-primary">Remove</button><br>
                <label id="button2" for="">Item 1</label>
                <button type="button" id="button2Add" class="btn btn-primary">Add</button>
                <button type="button" id="button2Rm" class="btn btn-primary">Remove</button>
            </div>
        </div>
    </div>
</div>

</div>

{% endblock %}